/**************
 * BASE STYLES
 **************/

.flex-container
  display flex
.flex-center
  @extend .flex-container
  flex-direction column
  align-items center
.flex-row
  @extend .flex-container
  flex-direction row
.outline-box
  position relative
  margin -1em 0 0 -1em
  padding 1em
  border 0.5em solid MAINCOLOR
  background-color white
  &:active
    border-color RED
.bordered
  border 8px solid white
.line-shadow
  max-width 30em
  top 1em
  left 1em
  padding 0 1em 1em 0
  margin 1em 0 1em 1em
  lines(BLUE, 3px, 11px, -45)
.line-shadow-white
  top 1em
  left 1em
  padding 0 1em 1em 0
  margin 1em 0 1em 1em
  lines(white, 3px, 11px, -45)
.btn
  @extend .bordered
  font-size 0.8em
  font-family displayfont
  padding 0.5em
  color white
.btn-red
  background-color RED
.window
  border-radius 1em 1em 0 0
  background-color white
  padding 1.2em 0 0 0
  border 0.5em solid white
  border-top 0
  &:before
    display block
    content ''
    position relative
    top -0.6em
    left 0.2em
    width 0.4em * 8
    height 1em
    pip-radius = 0.3em
    x = pip-radius
    background-image radial-gradient(circle at x 0.5em, RED, RED pip-radius, transparent pip-radius), radial-gradient(circle at x*4 0.5em, RED, RED pip-radius, transparent pip-radius), radial-gradient(circle at x*7 0.5em, RED, RED pip-radius, transparent pip-radius)
