/********************
 * REUSABLE UI STYLES
 ********************/

.btn
  border 4px solid white
  font-size 1.2rem
  font-style italic
  font-weight 800
  text-transform uppercase
  padding 0.5em
  color white
  cursor pointer
  &:hover, &:active
    background-color RED
    color MAINCOLOR
    border-color RED

.shadow-container
  top 1em
  left 1em
  padding 0 1em 1em 0
  margin 1em 0 1em 1em
  lines(BLUE, 3px, 11px, -45)
  & > *
    position relative
    margin -1em 0 0 -1em
    padding 1em
.outline-box
  border 0.5em solid MAINCOLOR
  background-color white
  &:active
    border-color RED
.bordered__outer
.bordered__inner
  border 8px solid white
