/*********************
 * ENTRY VIEWS STYLES
 *********************/

.work-container
  @extend .flex-center
  justify-content center
  width 100%
  margin-bottom 2em
  padding 1em
  background-color BLUE
.work
  color white
.hgroup
  h1
    font-style italic
  margin-bottom 1em
