/*******************
 * FRONTPAGE STYLES
 *******************/

.post-container, .work-container
  margin-bottom 2em
.post-container
  @extend .line-shadow
  &:active
    .post
      top 0.2em
      left 0.2em
.post
  @extend .outline-box
.work-container
  @extend .flex-center
  justify-content center
  width 100%
  background-color BLUE
.work
  max-width 20em
  color white
