/********************
 * INTRO HERO STYLES
 ********************/

.intro-container
  width 100%
  margin-bottom 1em
  background-color MAINCOLOR
  color white
  padding 1em
.intro
  font-size 1.5em
  padding 1em
  background-color MAINCOLOR
