/**************
 * NAVIGATION STYLES
 **************/

.navigation
  @extend .flex-container
  flex-direction row
  justify-content space-around
  position fixed
  width 100vw
  height 80px
  left 0
  bottom 0
  margin 0
  z-index Z-NAVIGATION
.nav-list
  @extend .flex-container
  width 100%
  align-items center
  justify-content space-around
  background-image url('images/whitedot.png')
  transform translate3d(0, 80px, 0)
  transition transform 400ms ease-in-out
  &:last-child
    padding-right 70px
.nav-list__item
  display block
  padding 0 0.8em
  font-size 1.4em
  font-weight 700
  text-align center
.nav-button
  position absolute
  bottom 0.5em
  right 0.5em
  cursor pointer
  width width = 60px
  height width
  background-color alpha(white, 50%)
  border-radius 50%
  background-image radial-gradient(MAINCOLOR 45%, transparent 50%)
  background-repeat repeat-y
  // Changed state on nav-open
  background-size (width / 3) (width / 3)
  background-position 50% 50%
  overflow hidden
  transition background-position 400ms ease
  transform translate3d(0, 0, 0)
  z-index Z-NAV-BUTTON
