displayfont = 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif
bodyfont = 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif
monofont = 'source-code-pro', 'Inconsolata', Consolas, monospace
