// COLORS
BLUE = #2400b7
RED = #ff0787
MAINCOLOR = BLUE
BODYCOLOR = MAINCOLOR
LOGOCOLOR = white

// FONT STACKS
displayfont = 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif
bodyfont = 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif
monofont = 'source-code-pro', 'Inconsolata', Consolas, monospace

// Z-INDEX SCALE
Z-ANIMATIONS = 4000
Z-NAVIGATION = 5000
Z-NAV-BUTTON = 6000
