// COLORS
BLUE = #2400b7
RED = #ff0787
BROWN = #BB573E
LOGOCOLOR = BLUE

// FONT STACKS
displayfont = 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif
bodyfont = 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif
monofont = 'source-code-pro', 'Inconsolata', Consolas, monospace
