/***********************\
  Utilities / Responsive
\***********************/

[class*='is-hidden']
  display none
  visibility hidden
.is-hidden--small
  @media MQ-MED
    display block
    visibility visible
.is-hidden--med
  @media MQ-LARGE
    display block
    visibility visible
