/***********************\
  Utilities / Responsive
\***********************/

[class*='u-hidden']
  display none
  visibility hidden
.u-hidden\\\@small
  @media MQ-MED
    display block
    visibility visible
.u-hidden\\\@med
  @media MQ-LARGE
    display block
    visibility visible
