/***********************\
  Utilities / Spacer
  @ Creates bottom space
\***********************/

spacer( multiplier = 1 )
  margin-bottom 1rem * multiplier
$u-spacer
  spacer()
.u-spacer
  @extends $u-spacer
.u-spacer--lrg
  spacer( 2 )
