*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  color: #fff;
  background-color: RED;
}
::selection {
  color: #fff;
  background-color: RED;
}
::-moz-selection {
  color: #fff;
  background-color: RED;
}
*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  max-width: 100%;
  border: none;
}
figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font: 1.3em/1.3 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif;
  color: #2400b7;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif;
  font-weight: 300;
}
p {
  margin: 0 0 1em 0;
}
a:active {
  color: #ff0787;
}
.flex-container,
.flex-center,
.header,
.navigation,
.nav-list,
.work-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-center,
.work-container {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.outline-box,
.post {
  position: relative;
  margin: -1em 0 0 -1em;
  padding: 1em;
  border: 0.5em solid #2400b7;
  background-color: #fff;
}
.outline-box:active,
.post:active {
  border-color: #ff0787;
}
.bordered {
  border: 8px solid #fff;
}
.line-shadow,
.post-container {
  max-width: 30em;
  top: 1em;
  left: 1em;
  padding: 0 1em 1em 0;
  margin: 1em 0 1em 1em;
  background-image: repeating-linear-gradient(-45deg, #2400b7, #2400b7 3px, transparent 4px, transparent 11px);
  -webkit-background-size: 16px 16px;
}
.window {
  border-radius: 1em 1em 0 0;
  background-color: #fff;
  padding: 1.2em 0 0 0;
  border: 0.5em solid #fff;
  border-top: 0;
}
.window:before {
  display: block;
  content: '';
  position: relative;
  top: -0.5em;
  left: 0.5em;
  width: 3.2em;
  height: 1em;
  background-image: radial-gradient(circle at 0.4em 0.5em, #ff0787, #ff0787 0.4em, transparent 0.4em), radial-gradient(circle at 1.6em 0.5em, #ff0787, #ff0787 0.4em, transparent 0.4em), radial-gradient(circle at 2.8em 0.5em, #ff0787, #ff0787 0.4em, transparent 0.4em);
}
.logo-svg {
  width: 70px;
  height: 70px;
}
.logo-svg-jt {
  fill: #2400b7;
}
.logo-svg-circle {
  stroke: #2400b7;
  stroke-width: 4px;
  fill: none;
}
.header {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 10px;
  left: 0;
  bottom: 0;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  z-index: 5000;
}
.navigation {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}
.nav-list {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  max-width: 100%;
  max-width: 0;
  transition: max-width 400ms ease;
}
.nav-list__item {
  padding: 1em;
  text-align: center;
}
.nav-button {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  background-image: radial-gradient(#2400b7 45%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 23.333333333333332px 23.333333333333332px;
  background-position: 0 50%;
  overflow: hidden;
  transition: background-position 400ms ease;
}
.nav-button:hover {
  background-position: -70px 50%;
}
.post-container:active .post {
  top: 0.2em;
  left: 0.2em;
}
.work-container {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #2400b7;
}
.work {
  color: #fff;
}
.hgroup {
  margin-bottom: 1em;
}
.hgroup h1 {
  font-style: italic;
}
.intro-container {
  width: 100%;
  margin-bottom: 1em;
  background-color: #2400b7;
  color: #fff;
  padding: 1em;
}
.intro {
  font-size: 1.5em;
  padding: 1em;
  background-color: #2400b7;
}

/*# sourceMappingURL=main.css.map */