/*********************************  #BASE
\*********************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  color: #fff;
  background-color: #ff0787;
}
::selection {
  color: #fff;
  background-color: #ff0787;
}
::-moz-selection {
  color: #fff;
  background-color: #ff0787;
}
*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  max-width: 100%;
  height: auto;
  border: none;
}
figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
code,
pre {
  margin: 0;
}
body {
  font: 1rem/1.6 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif;
  color: #2400b7;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-family: 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif;
  font-weight: 300;
  line-height: 1.2;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
p {
  margin: 0 0 1em 0;
  width: 100%;
  max-width: 42rem;
  text-indent: 2rem;
}
a {
  color: #2400b7;
}
a:active,
a:hover {
  color: #ff0787;
}
code,
pre {
  font-family: 'source-code-pro', 'Inconsolata', Consolas, monospace;
}
/*********************************  #UTILITIES
\*********************************/
/*********************************  #LAYOUT
\*********************************/
.o-container,
.o-flex-container,
.o-fullwidth-container,
.o-row,
.o-row--reverse,
.o-col,
.c-navigation,
.c-navigation__list,
.c-rowlist,
.c-single,
.c-single__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.o-flex-container,
.o-fullwidth-container,
.o-row,
.o-row--reverse,
.o-col,
.c-navigation,
.c-navigation__list,
.c-rowlist,
.c-single,
.c-single__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.o-fullwidth-container {
  width: 100%;
}
.o-row,
.o-row--reverse,
.c-navigation,
.c-navigation__list,
.c-rowlist {
  width: 100%;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.o-row--reverse {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.o-col,
.c-single,
.c-single__content {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.o-col--reverse {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.o-center,
.c-single,
.c-single__content {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/*********************************  #COMPONENTS
\*********************************/
.c-logo {
  width: 70px;
  height: 70px;
}
.c-logo__jt {
  fill: #fff;
}
.c-logo__circle {
  stroke: #fff;
  stroke-width: 4px;
  fill: none;
}
.c-borderbox,
.c-borderbox--negative {
  border: 0.5em solid #2400b7;
  background-color: #fff;
}
.c-borderbox:active,
.c-borderbox--negative:active {
  border-color: #ff0787;
}
.c-borderbox--negative {
  border-color: #fff;
  background-color: #2400b7;
}
.c-buffered-list > * {
  margin-bottom: 2rem;
}
.c-buffered-list header {
  margin-bottom: 0;
}
.c-btn {
  border: 4px solid #fff;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
}
.c-btn:hover,
.c-btn:active {
  background-color: #ff0787;
  color: #2400b7;
  border-color: #ff0787;
}
.c-insetbox {
  padding: 1rem;
  background-color: #2400b7;
}
.c-insetbox .c-insetbox__inner {
  width: 100%;
  border: 0.5rem solid #fff;
  padding: 1rem;
  color: #fff;
}
.c-insetbox--negative {
  padding: 1rem;
  background-color: #fff;
}
.c-insetbox--negative .c-insetbox__inner {
  width: 100%;
  border: 0.5rem solid #2400b7;
  color: #2400b7;
}
.c-navigation {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: fixed;
  width: 100vw;
  height: 80px;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 5000;
}
.c-navigation__list {
  width: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background-image: url("images/whitedot.png");
  -webkit-transform: translate3d(0, 80px, 0);
          transform: translate3d(0, 80px, 0);
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
.c-navigation__list:last-child {
  padding-right: 70px;
}
.is-navigation-open .c-navigation__list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.c-navigation__list__item {
  display: block;
  padding: 0 0.8em;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-navigation__button {
  position: absolute;
  bottom: 0.8em;
  right: 0.5em;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  background-image: radial-gradient(#2400b7 45%, transparent 50%);
  background-repeat: repeat-y;
  background-size: 20px 20px;
  background-position: 50% 50%;
  overflow: hidden;
  transition: background-position 400ms ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 6000;
}
.is-navigation-open .c-navigation__button {
  background-position: 50% -100%;
}
.c-navigation__logo .c-logo {
  width: 60px;
  height: 60px;
}
.c-navigation__logo .c-logo__jt {
  fill: #2400b7;
}
.c-navigation__logo .c-logo__circle {
  stroke: #2400b7;
}
.c-navigation__logo:hover .c-logo__jt {
  fill: #ff0787;
}
.c-navigation__logo:hover .c-logo__circle {
  stroke: #ff0787;
}
.c-quicklist {
  margin: 1rem 0.5rem 2rem 0.5rem;
  color: rgba(36,0,183,0.8);
  font-family: 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif;
  font-style: italic;
  line-height: 2rem;
}
.c-quicklist li:before {
  display: inline;
  content: '--';
  margin-right: 0.5rem;
}
.c-rowlist {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-rowlist > li {
  display: inline;
}
.c-shadowbox,
.c-shadowbox--negative {
  top: 1rem;
  left: 1rem;
  padding: 0 1rem 1rem 0;
  margin: 1rem 0 1rem 1rem;
  background-image: repeating-linear-gradient(-45deg, #2400b7, #2400b7 3px, transparent 4px, transparent 11px);
  -webkit-background-size: 16px 16px;
}
.c-shadowbox .c-shadowbox__inner,
.c-shadowbox--negative .c-shadowbox__inner {
  position: relative;
  margin: -1rem 0 0 -1rem;
  padding: 1rem;
  background-color: #fff;
}
.c-shadowbox--negative {
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 3px, transparent 4px, transparent 11px);
  -webkit-background-size: 16px 16px;
}
.c-shadowbox--negative .c-shadowbox__inner {
  background-color: #2400b7;
  color: #fff;
}
.c-single {
  margin: 1rem 0.5rem;
}
.c-single__content {
  width: 100%;
}
.c-window,
.c-window--negative {
  width: 50rem;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.2rem 0 0 0;
  border: 0.5rem solid #fff;
  border-top: 0;
}
.c-window:before,
.c-window--negative:before {
  display: block;
  content: '';
  position: relative;
  top: -0.6em;
  left: 0.2em;
  width: 3.2em;
  height: 1rem;
  background-image: radial-gradient(circle at 0.3em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em), radial-gradient(circle at 1.2em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em), radial-gradient(circle at 2.1em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em);
}
.c-window code,
.c-window--negative code,
.c-window pre,
.c-window--negative pre {
  background-color: #fff;
}
.c-window--negative {
  background-color: #2400b7;
  border-color: #2400b7;
}
.c-figure-image {
  margin: 0 -0.5rem;
  margin-bottom: 1rem;
}
.c-code {
  display: block;
  min-width: 20rem;
  max-width: 32rem;
  white-space: pre;
  line-height: 1rem;
}
/*********************************  #templates
\*********************************/
.type-work {
  background-color: #2400b7;
  color: #fff;
}
.t-post-preview {
  max-width: 20rem;
}
.t-work-preview {
  padding: 1rem;
  color: #fff;
  background-color: #2400b7;
}
.t-work-preview > a {
  max-width: 100%;
}
.t-work-preview__hgroup {
  margin-bottom: 1rem;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */