*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  color: #fff;
  background-color: RED;
}
::selection {
  color: #fff;
  background-color: RED;
}
::-moz-selection {
  color: #fff;
  background-color: RED;
}
*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  max-width: 100%;
  border: none;
}
figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
body {
  font: 1.3em/1.3 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif;
  color: #2400b7;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif;
  font-weight: 300;
}
p {
  margin: 0 0 1em 0;
}
a {
  color: #2400b7;
}
a:active {
  color: #ff0787;
}
.flex-container,
.flex-center,
.flex-row,
.navigation,
.nav-list,
.work-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-center,
.work-container {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.outline-box,
.post {
  position: relative;
  margin: -1em 0 0 -1em;
  padding: 1em;
  border: 0.5em solid #2400b7;
  background-color: #fff;
}
.outline-box:active,
.post:active {
  border-color: #ff0787;
}
.bordered,
.btn {
  border: 8px solid #fff;
}
.line-shadow,
.post-container {
  max-width: 30em;
  top: 1em;
  left: 1em;
  padding: 0 1em 1em 0;
  margin: 1em 0 1em 1em;
  background-image: repeating-linear-gradient(-45deg, #2400b7, #2400b7 3px, transparent 4px, transparent 11px);
  -webkit-background-size: 16px 16px;
}
.line-shadow-white {
  top: 1em;
  left: 1em;
  padding: 0 1em 1em 0;
  margin: 1em 0 1em 1em;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 3px, transparent 4px, transparent 11px);
  -webkit-background-size: 16px 16px;
}
.btn {
  font-size: 0.8em;
  font-family: 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif;
  padding: 0.5em;
  color: #fff;
}
.btn-red {
  background-color: #ff0787;
}
.window {
  border-radius: 1em 1em 0 0;
  background-color: #fff;
  padding: 1.2em 0 0 0;
  border: 0.5em solid #fff;
  border-top: 0;
}
.window:before {
  display: block;
  content: '';
  position: relative;
  top: -0.6em;
  left: 0.2em;
  width: 3.2em;
  height: 1em;
  background-image: radial-gradient(circle at 0.3em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em), radial-gradient(circle at 1.2em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em), radial-gradient(circle at 2.1em 0.5em, #ff0787, #ff0787 0.3em, transparent 0.3em);
}
.logo-svg {
  width: 70px;
  height: 70px;
}
.logo-svg-jt {
  fill: #fff;
}
.logo-svg-circle {
  stroke: #fff;
  stroke-width: 4px;
  fill: none;
}
.navigation {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 5000;
}
.nav-list {
  width: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: rgba(255,255,255,0.6);
  -webkit-transform: translate3d(0, 80px, 0);
          transform: translate3d(0, 80px, 0);
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
}
.nav-list:last-child {
  padding-right: 70px;
}
.nav-list__item {
  display: block;
  padding: 0 0.8em;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
.nav-button {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  background-image: radial-gradient(#2400b7 45%, transparent 50%);
  background-repeat: repeat-y;
  background-size: 20px 20px;
  background-position: 50% 50%;
  overflow: hidden;
  transition: background-position 400ms ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 6000;
}
.post-container:active .post {
  top: 0.2em;
  left: 0.2em;
}
.work-container {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #2400b7;
}
.work {
  color: #fff;
}
.hgroup {
  margin-bottom: 1em;
}
.hgroup h1 {
  font-style: italic;
}
.header {
  width: 100%;
  margin-bottom: 1em;
  background-color: #2400b7;
  color: #fff;
  padding: 1em;
}
.header-inner {
  font-size: 1.5em;
  padding: 1em;
  background-color: #2400b7;
}
.nav-open .nav-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.nav-open .nav-button {
  background-position: 50% -100%;
}

/*# sourceMappingURL=main.css.map */