<!doctype html>
<html class="no-js {{ page.classes }}" {{ site.language_attributes }}>
  <head>
    {% include "head.twig" %}
  </head>
  <body class="{{ post.class }}">
    {% include 'navigation.twig' %}
    {% block content %}{% endblock %}
    {% include 'footer.twig' %}
    {{ function('wp_footer')}}
  </body>
</html>
