<!doctype html>
<html class="no-js" lang="{{ site.language_attributes }}">
  <head>
		{% include "head.twig" %}
  </head>
  <body class="{{ page.classes }}">
		{% include 'header.twig' %}
		{% block content %}{% endblock %}
		{{ function('wp_footer')}}
  </body>
</html>
