<footer class="o-col s-footer">
  <ul class="c-rowlist">
    <li class="c-social-icon"><a href="https://github.com/tcandens">Github</a></li>
    <li class="c-social-icon"><a href="https://instagram.com/joeythies/">Instagram</a></li>
    <li class="c-social-icon"><a href="https://www.linkedin.com/in/joeythies/">LinkedIn</a></li>
  </ul>
</footer>
