<footer class="o-col o-center | c-footer">
  <ul class="c-rowlist c-footer__list">
    <li class="c-btn-minor">
      <a href="https://github.com/tcandens">Github</a>
    </li>
    <li class="c-btn-minor">
      <a  href="https://instagram.com/joeythies/">Instagram</a>
    </li>
    <li class="c-btn-minor">
      <a  href="https://www.linkedin.com/in/joeythies/">LinkedIn</a>
    </li>
  </ul>
</footer>
