<header class="header">
  <nav class="navigation">
    <a class="nav-button"></a>
    <ul class="nav-list">
      <li class="nav-list__item"><a href="#">Work</a></li>
      <li class="nav-list__item"><a href="#">Writing</a></li>
    </ul>
  </nav>
</header>
