<header class="header">
  <nav class="navigation">
    <a class="nav-button"></a>
    <ul class="nav-list">
      <li class="nav-list__item">Work</li>
      <li class="nav-list__item">Writing</li>
    </ul>
  </nav>
</header>
