{% extends "base.twig" %}

{% block content %}
  <main class="container flex-center" role="main">
    {% if intro %}
      <section class="intro">
        {{ intro.content }}
      </section>
    {% endif %}
    {% for post in posts %}
      {% include post.post_type~"-entry.twig" %}
    {% endfor %}
  </main>
{% endblock %}
