{% extends "base.twig" %}

{% block content %}
  <main class="o-col o-center | t-main" role="main">
    {% if intro %}
      <header class="o-row c-insetbox">
        <section class="c-insetbox__inner">
          {% include "logo.twig" %}
          {{ intro.content }}
          {% if menu %}
            <ul class="c-rowlist">
            {% for item in menu.get_items %}
              <a href="{{ item.get_link }}">
                <li class="c-btn">{{ item.title }}</li>
              </a>
            {% endfor %}
            </ul>
          {% endif %}
        </section>
      </header>
    {% endif %}
    {% for post in posts %}
      {% include post.post_type~"-preview.twig" %}
    {% endfor %}
    <div class="random-x c-luna-sprite__container">
      <div class="c-luna-sprite__sprite"></div>
    </div>
  </main>
{% endblock %}
