{% extends "base.twig" %}

{% block content %}
  <main class="o-col o-center | t-main" role="main">
    {% if intro %}
      <header class="o-row c-insetbox">
        <section class="o-col o-center | c-insetbox__inner">
          {% include "logo.twig" %}
          <h1 class="u-lrg">{{ intro.title }}</h1>
          {{ intro.content }}
          {% if menu %}
            <ul class="c-rowlist">
            {% for item in menu %}
              <a href="{{ [ site.url, item.link ]|join('/') }}">
                <li class="c-btn">{{ item.name }}</li>
              </a>
            {% endfor %}
            </ul>
          {% endif %}
        </section>
      </header>
    {% endif %}
    {% for post in posts %}
      {% include post.post_type~"-preview.twig" %}
    {% endfor %}
    <div class="random-x c-luna-sprite__container">
      <div class="c-luna-sprite__sprite"></div>
    </div>
  </main>
{% endblock %}
