{% extends "base.twig" %}

{% block content %}
  <main class="container flex-center" role="main">
    {% if intro %}
      <div class="intro-container">
        <section class="intro bordered">
          {{ intro.content }}
        </section>
      </div>
    {% endif %}
    {% for post in posts %}
      {% include post.post_type~"-entry.twig" %}
    {% endfor %}
  </main>
{% endblock %}
