{% extends "base.twig" %}

{% block content %}
  <div class="random-x luna-boot-scoot-container">
    <div class="luna-boot-scoot"></div>
  </div>
  <main class="o-center" role="main">
    {% if intro %}
      <header class="header">
        <section class="header-inner bordered">
          {% include "logo.twig" %}
          {{ intro.content }}
        </section>
      </header>
    {% endif %}
    {% for post in posts %}
      {% include post.post_type~"-entry.twig" %}
    {% endfor %}
  </main>
{% endblock %}
