<nav class="c-navigation">
  <a class="c-navigation__button js-navigation__button"></a>
  <ul class="c-navigation__list">
    <li class="c-navigation__list__item"><a href="#">Work</a></li>
    <li class="c-navigation__list__item"><a href="#">Writing</a></li>
  </ul>
</nav>
