<nav class="c-navigation">
  <a class="c-navigation__button js-navigation__button"></a>
  {% if menu %}
    <ul class="c-navigation__list">
      {% for item in menu.get_items %}
        <li class="c-navigation__list__item">
          <a href="{{ item.get_link }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
