{% extends 'base.twig' %}

{% block content %}
  <div class="">
    <h1>{{ title }}</h1>
    <ul class="c-rowlist">
      {% if post.terms() %}
        {% for term in post.terms() %}
          <li class="c-tag">{{ term.name }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div class="s-darkfield">
    {% for post in posts %}
      {% include 'work-preview.twig' %}
    {% endfor %}
  </div>
{% endblock %}
