{% extends 'base.twig' %}

{% block content %}
  <div class="o-grid__container">
    <div class="o-grid__minor-left | s-darkfield | c-archive-header">
      <h1 class="u-lrg">{{ title }}</h1>
      <ul class="c-rowlist c-archive-header__categories">
        {% if categories %}
          {% for category in categories %}
            <li class="c-tag">{{ category.name }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="o-grid__major-right o-col o-center | u-padded">
      {% for post in posts %}
        {% include 'post-preview.twig' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

