<div class="{{ [post.post_type, 'container']|join('-') }}">
  <a href="{{ [ site.url, post.name ]|join('/') }}">
    <article class="{{ post.class }}">
      <h1>{{ post.title }}</h1>
      {{ post.post_excerpt }}
    </article>
  </a>
</div>
