<div class="{{ [post.post_type, 'preview']|join('-') }}">
  <a href="{{ post.link }}">
    <article class="{{ post.class }}">
      <h1>{{ post.title }}</h1>
      {{ post.post_excerpt }}
    </article>
  </a>
</div>
