<article class="c-shadowbox t-post-preview">
  <a href="{{ post.link }}">
    <div class="c-shadowbox__inner c-borderbox {{ post.class }}">
      <h1>{{ post.title }}</h1>
      {{ post.post_excerpt }}
    </div>
  </a>
</article>
