{% extends "base.twig" %}

{% block content %}
  <article class="o-grid__container">
    <header class="o-grid__pinned-right o-center o-col">
      <div class="c-shadowbox">
        <div class="c-shadowbox__inner c-borderbox">
          <h1>{{ post.title }}</h1>
        </div>
      </div>
    </header>
    <div class="o-col o-center">
      {% if post.thesis %}
        <div class="c-single__post-excerpt">
          {{ post.thesis }}
        </div>
      {% endif %}
      {{ post.content }}
    </div>
  </article>
{% endblock %}
