{% extends "base.twig" %}

{% block content %}
<article class="o-grid__container | c-single">
  <header class="o-grid__pinned-right | c-single__header c-shadowbox--negative">
    <div class="c-shadowbox__inner c-borderbox--negative s-darkfield">
      <h1 class="">{{ post.title }}</h1>
      <ul class="c-rowlist">
        {% if post.terms() %}
          {% for term in post.terms() %}
            <li class="c-tag">{{ term.name }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </header>
  <div class="o-col o-center | c-single__content">
    {% if post.thesis %}
      <div class="c-single__post-excerpt">
        {{ post.thesis }}
      </div>
    {% endif %}
    {{ post.content }}
  </div>
</article>
{% endblock %}

