{% extends "base.twig" %}

{% block content %}
<div class="">
  <div class="post-header-container">
    <header class="post-header">
      <h1>{{ post.title }}</h1>
      <h3>{{ post.date }}</h3>
      <h3>{{ post.author }}</h3>
    </header>
  </div>
  <article class="post-content">
    {{ post.content }}
  </article>
</div>
{% endblock %}
