<article class="o-fullwidth-container s-darkfield t-work-preview">
  <a href="{{ post.link }}">
    <div class="t-work-preview__hgroup">
      <h1><span class="c-underline">{{ post.title }}</span></h1>
      {{ post.post_excerpt }}
    </div>
    {% if post.thumbnail %}
      <div class="c-window t-work-preview__thumbnail">
        <img src="{{ post.thumbnail }}" />
      </div>
    {% endif %}
  </a>
</article>
