/***********************\
  Layout / Grid
\***********************/

.o-grid__container
  min-height 100%
  o-col()
  @media screen and (min-width: 720px)
    o-row()
.o-grid__container--reverse
  flex-wrap nowrap
  @media screen and (min-width: 720px)
    o-row--reverse()

[class*="o-grid__minor"]
  width 100%
  //flex 0 1 100%
  @media screen and (min-width: 720px)
    flex 1 1 30%
[class*="o-grid__major"]
  //flex 1 1 100%
  @media screen and (min-width: 720px)
    flex 1 1 70%
