/***********************\
  Layout / Grid
\***********************/

.o-grid__container
  position relative
  min-height 100%
  o-col()
  @media MQ-MED
    o-row()
.o-grid__container--reverse
  flex-wrap nowrap
  @media MQ-MED
    o-row--reverse()

[class*="o-grid__minor"]
  width 100%
  @media MQ-MED
    flex 1 1 30%
[class*="o-grid__major"]
  @media MQ-MED
    flex 1 1 70%

.o-grid__pinned-left, .o-grid__pinned-right
  @media MQ-LARGE
    position absolute
    top 1rem
    max-width 30%
.o-grid__pinned-left
  @media MQ-LARGE
    left 1rem
.o-grid__pinned-right
  @media MQ-LARGE
    right 1rem
