/***********************\
  Layout / Grid
\***********************/

.c-archive-header
  @extends .o-col
  @extends .o-center
  padding 2rem

//.c-archive-header__title

.c-archive-header__categories
  max-width 40rem
