/*********************************\
  Components / Border Box
\*********************************/

.c-borderbox
  border 0.5em solid MAINCOLOR
  background-color white
.c-borderbox--negative
  @extends .c-borderbox
  color white
  border-color white
  background-color MAINCOLOR !important
a .c-borderbox, a .c-borderbox--negative
  &:hover
    border-color ALTCOLOR
