/*********************************\
  Components / Border Box
\*********************************/

.c-borderbox
  border 0.5em solid MAINCOLOR
  background-color white
  &:active
    border-color ALTCOLOR
.c-borderbox--negative
  @extends .c-borderbox
  border-color white
  background-color MAINCOLOR
