/***************************************************************************************
/* Components / Border Boxes
/***************************************************************************************/
.borderbox
  border 0.5em solid MAINCOLOR
  background-color white
  &:active
    border-color ALTCOLOR
