/*********************************\
  Components / Buffered
  @@ Styles all direct children
  @@@ to have margin-bottom
\*********************************/

.c-buffered
  & > * 
    margin-bottom 2rem
