/*********************************\
  Components / Buffered List
  @@ Styles all direct children
  @@@ to have margin-bottom
\*********************************/

.c-buffered-list
  & > * 
    margin-bottom 2rem
