/*********************************\
  Components / Minor Buttons
  Use: should have a child <a>, <span> or
  other text node with .c-underline
  for correct effect
\*********************************/

.c-btn-minor
  font 0.8rem/0.8 monofont
  font-weight 800
  text-transform uppercase
  color white
  padding 1rem
  background-color BLACK
  a
    color white
    underline()
    &:hover
      color white
