/*********************************\
  Components / Tertiary Buttons
\*********************************/

.c-btn-tertiary
  font-size 0.7rem
  font-family monofont
  padding 0.3rem 0.6rem
  color alpha( white, 90% )
  border 1px solid alpha( white, 50% )
  border-radius 9px
