/*********************************\
  Components / Callout Text
\*********************************/

.c-callout
  font-family displayfont
  font-size 1.3rem
  text-align justify
  &, p
    max-width 42rem
