/*********************************\
  Components / Dark Field
\*********************************/

darkfield()
  color white
  background-color MAINCOLOR
  .c-single a
    color white
    underline()

.s-darkfield
  darkfield()
