/*********************************\
  Components / Footer
\*********************************/

.c-footer
  margin-top 0
  padding 1rem
  padding-bottom 90px
  background-color BLACK
  lines(MAINCOLOR, 2, 8, -45)
