/*********************************\
  Components / Footer
\*********************************/

.c-footer
  margin-top 2rem
  padding 1rem
  padding-bottom 90px
  background-color white
  lines(MAINCOLOR, 4, 9, -45)
