/***************************************************************************************
/* Components / Inset Box
/***************************************************************************************/
.insetbox__outer
  padding 1em
  background-color MAINCOLOR
  & > *
    border 0.5em solid white
    color white
.insetbox__outer--negative
  padding 1em
  background-color white
  & > *
    border 0.5em solid MAINCOLOR
    color MAINCOLOR
