/*********************************\
  Components / Inset Box
  @@ Creates a box with padded outline
\*********************************/

.c-insetbox
  padding 1rem
  .c-insetbox__inner
    width 100%
    border 0.4rem solid white
    padding 1rem
.c-insetbox--negative
  padding 1rem
  background-color white
  .c-insetbox__inner
    width 100%
    border 0.4rem solid MAINCOLOR
    color MAINCOLOR
