/*********************************\
  Components / Logo
\*********************************/

.c-logo
  width 70px
  height 70px
.c-logo__jt
  fill LOGOCOLOR
.c-logo__circle
  stroke LOGOCOLOR
  stroke-width 4px
  fill none

a .c-logo:hover
  .c-logo__jt
    fill RED
  .c-logo__circle
    stroke RED
