/*********************************\
  Components / Logo
\*********************************/

.c-logo
  width 70px
  height 70px
.c-logo__jt
  fill LOGOCOLOR
.c-logo__circle
  stroke LOGOCOLOR
  stroke-width 4px
  fill none
.c-logo--home
  .c-logo__jt
    fill MAINCOLOR
  .c-logo__circle
    stroke MAINCOLOR 
