/*********************************\
 Components / Luna Sprite
\*********************************/

.c-luna-sprite__container
  position absolute
  left 0
  width 100%
.c-luna-sprite__sprite
  position absolute
  width 60px
  height 51px
  z-index Z-ANIMATIONS
  background url('images/luna-boot-scoot.png') 0 0
  animation play-luna-boot-scoot 600ms steps(4) infinite,
            play-across-window__small 20s linear infinite
@keyframes play-luna-boot-scoot
  0% {
    background-position 0 0
  }
  100% {
    background-position -240px
  }
@keyframes play-across-window__small
  0% {
    right -60px
    transform scaleX(1)
  }
  50% {
    right calc(100% + 60px)
    transform scaleX(1)
  }
  51% {
    transform scaleX(-1)
  }
  100% {
    right -60px
    transform scaleX(-1)
  }
