/*********************************\
  Components / Quicklist
\*********************************/

.c-quicklist
  margin 1rem 0.5rem 2rem 0.5rem
  muted()
  font-family bodyfont
  font-style italic
  line-height 2rem
  li:before
    display inline
    content '--'
    margin-right 0.5rem 
