/*********************************\
  Components / Quicklist
\*********************************/

.c-quicklist
  margin-bottom 1rem
  muted()
  font-family monofont
  line-height 2rem
  list-style-type disc
  list-style-position inside
