/*********************************\
  Components / Row List
\*********************************/

.c-rowlist
  @extends .o-row
  justify-content space-between
  max-width 30rem
  width 100%
  margin-top -1rem
  & > li
    display inline-block
    margin-top 1rem
