/*********************************\
  Components / Shadow Box
  @@ Creates a box-shadow of lines
\*********************************/

.c-shadowbox
  top 1rem
  left 1rem
  padding 0 1rem 1rem 0
  margin 1rem 0 1rem 1rem
  lines(MAINCOLOR, 2, 9, -45)
  .c-shadowbox__inner
    position relative
    margin -1rem 0 0 -1rem
    padding 1rem
    background-color white
.c-shadowbox--negative
  @extends .c-shadowbox
  lines(white, 2px, 9px, -45)
  .c-shadowbox__inner
    background-color MAINCOLOR
    color white

