/***************************************************************************************
 * Components / Shadowbox
 * @ Styles container into module with lined drop-shadow
/***************************************************************************************/
.shadow-container
  top 1em
  left 1em
  padding 0 1em 1em 0
  margin 1em 0 1em 1em
  lines(BLUE, 3px, 11px, -45)
  & > *
    position relative
    margin -1em 0 0 -1em
    padding 1em
