/*********************************\
  Components / Single Post & Work
\*********************************/

.c-single
  @extends .o-col
  @extends .o-center
  margin 1rem 0.5rem

.c-single__content
  @extends .o-col
  @extends .o-center
  width 100%

.c-single__home,
.c-single__home--left,
.c-single__home--right
  position
