/*********************************\
  Components / Single Post & Work
\*********************************/

.c-single
  @extends .o-col
  @extends .o-center
  margin 1rem 0.5rem
.c-single__content
  @extends .o-col
  @extends .o-center
  min-height 100%
