/*********************************\
  Components / Tags
\*********************************/

.Tag
  position relative
  height 28px
  font-size 12px
  font-family monofont
  text-transform uppercase
  margin-right 1.5rem
  padding 5px 0.75rem
  &:before
    content ''
    display block
    position absolute
    top 0
    left 100%
    width 0
    height 0
    border-style solid
    border-width 14px 14px 14px
  &:after
    content ''
    display block
    position absolute
    top 0
    left 100%
    width 1rem
    height 100%
  a
    color white

tag( $field, $textcolor, $bg = white )
  @extends .Tag
  color $textcolor
  background-color $field
  &:before
    border-color transparent transparent transparent $field
  &:after
    background radial-gradient(circle at 3px 50%, $bg 0, $bg, 3px, transparent 3px, transparent 100%)
  a
    color $bg

.c-tag, .c-tag--black
  tag( BLACK, white )
.c-tag--green
  tag( GREEN, white )
.c-tag--red
  tag( RED, white )
.c-tag--blue
  tag( BLUE, white )
.c-tag--ltblue
  tag( LTBLUE, white )
