/*********************************\
  Components / Underline
\*********************************/

underline()
  position relative
  display inline
  background linear-gradient(0deg, RED, RED 1px, transparent 1px, transparent)
  background-position 0 0
  &:hover
    background transparent
    background url('images/underline-2.gif')
    background-repeat repeat-x
    background-position 0 100%
    background-size 6px 3px
    &:after
      visibility hidden

.c-underline
  underline()
