/***************************************************************************************
/* State / Navigation-Open
/***************************************************************************************/

.is-navigation-open
  .c-navigation__list
    transform translate3d(0, 0, 0)
  .c-navigation__button
    background-position 50% -100%
