/*********************************\
  Templates / Home
\*********************************/

.t-post-preview
  max-width 20rem

.t-work-preview
  padding 1rem
  padding-top 2rem
  margin-bottom 1rem
  & > a
    max-width 100%
.t-work-preview__hgroup
  margin-bottom 1rem
  color white
