/*********************************\
  Templates / Home
\*********************************/

.t-main
  position relative
  margin-bottom 2rem
  .c-logo
    @media MQ-MED
      position absolute
.t-post-preview
  max-width 20rem

.t-work-preview
  padding 1rem
  padding-top 2rem
  margin-bottom 1rem
  & > a
    margin 0 auto
    max-width 100%
  &:last-of-type
    margin-bottom 0
.t-work-preview__hgroup
  margin-bottom 1rem
  color white
