/*********************************\
  Base / Reset
\*********************************/

*, *:before, *:after
  box-sizing border-box
::selection
  color white
  background-color RED
::-moz-selection
  color white
  background-color RED
*:focus
  outline none
html, body
  margin 0
  max-width 100%
  overflow-x hidden
ul
  list-style none
  margin 0
  padding 0
img
  margin 0
  max-width 100%
  height auto
  border none
figure
  margin 0
  padding 0
a
  text-decoration none
button
  outline none
  border none
  background transparent
code, pre
  margin 0
