/*********************************\
  Base / Typography
\*********************************/

body
  font 1.2rem/1.7 bodyfont
  color BODYCOLOR
h1, h2, h3
  margin-top 0
  margin-bottom 0.25em
  font-family displayfont
  font-weight 300
h1
  font-size 2rem
h2
  font-size 1.7rem
p
  margin 0 0 1em 0
  max-width 32rem
a
  color BODYCOLOR
  &:active, &:hover
    color RED
code, pre
  font-family monofont
