/*********************************\
  Base / Typography
\*********************************/

html
  font-size 100%
  @media MQ-MED
    font-size 120%
body
  font 0.9rem/1.8 bodyfont
  color BODYCOLOR
h1, h2, h3
  margin-top 0
  margin-bottom 0
  font-family displayfont
  font-weight 300
  line-height 1.2
  & + *
    margin-bottom 0.5rem

h1
  font-size 2em
h2
  font-size 1.7em
p
  margin 0 0 2rem 0
  width 100%
  max-width 40rem
article   p+p
  text-indent 1.5rem
  margin-top -2rem
a
  position relative
  color MAINCOLOR
  &:active, &:hover
    color RED
code, pre
  font-family monofont

.u-lrg
  font-size 3rem
