/*********************************\
  Base / Utility Classes
\*********************************/

.u-clearfix::after
  display table
  content ""
  clear both

$u-muted
  color MUTED
muted()
  color MUTED
