// COLORS
BLUE = #2400b7
LTBLUE = #0aa6c4
RED = #ff0787
GREEN = #74cd6a
BLACK = #260d10
MAINCOLOR = BLUE
ALTCOLOR = RED
BODYCOLOR = MAINCOLOR
MUTED = alpha(MAINCOLOR, 80%)
LOGOCOLOR = white

// FONT STACKS
displayfont = 'jaf-lapture', 'Alegreya', Georgia, 'Times New Roman', serif
bodyfont = 'jaf-facitweb', 'Open Sans', 'Helvetica', sans-serif
monofont = 'source-code-pro', 'Inconsolata', Consolas, monospace

// Z-INDEX SCALE
Z-ANIMATIONS = 4000
Z-NAVIGATION = 5000
Z-NAV-BUTTON = 6000

// MEDIAQUERY BREAKPOINTS
MQ-MED = "screen and (min-width: 750px)"
